<!doctype html>
<html class="no-js">
<head>
    <title>{% block title %}{{title}}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Output from Sabd-cli: https://github.com/jujhars13/sabd-cli using the basic template" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .gurmukhi {font-family:GurbaniAkhar,GurbaniWebThick}
        ul {
        list-style-type: none;
        padding-bottom:10px;
        }
    </style>
    <!-- Latest compiled and minified twitter bootstrap CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional bootstrap theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>

<body>
<div class="container">
    {% for line in gurbani %}
    <ul>
        <li class="gurmukhi">{{line[5]}}</li>
        <li class="transliteration">{{line[6]}}</li>
        <li class="english_translation">{{line[7]}}</li>
    </ul>
    {% endfor %}
</div>
</body>

</html>