<!doctype html>
<html class="no-js">
<head>
    <title>{% block title %}{{title}}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Output from Sabd-cli: https://github.com/jujhars13/sabd-cli using revealjs">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {% include 'reveal.css' without context %}
        /* custom styles */
        p.gurmukhi
        {font-family:GurbaniAkhar,GurbaniWebThick;GurbaniAkharHeavy;text-align:center;font-size:230%;padding-bottom:15px}
        p.tranlisteration {text-align:center;font-size:180%;padding-bottom:15px;color:cadetblue}
        p.english_translation {text-align:center;font-size:180%}
        section ul { list-style-type: none; padding-bottom:10px }
    </style>
</head>

<body>
<div class="reveal">
    <div class="slides">
        {% for line in gurbani %}
        <section>
            <p class="gurmukhi">{{line[5]}}</p>

            <p class="transliteration">{{line[6]}}</p>

            <p class="english_translation">{{line[7]}}</p>
        </section>
        {% endfor %}
    </div>
</div>
<div class="container">

    <ul>


    </ul>

</div>

<script>
{% include 'reveal.js' without context %}
</script>

</body>

</html>
